<body>
<h3> Players</h3>

<input type ="hidden" ng-model="playerHomeData.positions" />

<table>

<tr>
<th>First Name </th>
<th>Last Name </th>
<th>Position</th>
<th>Remove Player </th>
</tr>

<!-- p is an instance of player inside this table  -->
<tr ng-repeat ="p in pc.positions ">
  <td ng-bind ="p.player.firstName"> </td>
  <td ng-bind ="p.player.lastName"> </td>
  <td ng-bind ="p.player.position"> </td>
  <td><button type="button", ng-click="pc.deletedPlayer = p; pc.deletePlayer()"> Delete Player</button> </td>
		
	
</tr>
</table>





</div>


</body>
</html>